<!DOCTYPE html>
<html>

<head>
    <% include static/header %>
</head>

<body>
    <% include static/menu %>
        <div class="container-fluid">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/management"">Management</a></li>
                    <li class=" breadcrumb-item active" aria-current="page">Add details</li>
                </ol>
            </nav>
            <div class="row justify-content-center">
                <div class="col col-auto">
                    <h3 class="h3Title">
                        <%= page %>
                    </h3>
                </div>
            </div>
            <br>
            <form action="/add-details" method="post">
                <div class="row justify-content-center">
                    <div class="col col-lg-5">
                        <h5 class="h5Title">Bike frame: <%= bike_frame %>
                        </h5>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col col-lg-5">
                        <div class="form-group">
                            <label class="lblInput" for="inputDetails">Add information in the textbox below:</label>
                            <textarea type="textbox" class="input-style form-control" name="inputDetails"
                                id="inputDetails" placeholder="e.g. Brakes replaced in shop XXX on 25/03/2021 (50 EUR)"
                                rows="4" minlength="10" maxlength="180" required></textarea>
                            <input type="hidden" name="bike_id" value="<%= bike_id %>">
                        </div>
                    </div>
                </div>
                <div class="text-center" style="margin-top: 10px;">
                    <button type="submit" class="btn btn-secondary">Send</button>
                    <button type="reset" class="btn btn-warning">Reset</button>
                </div>
                <br>
            </form>
        </div>
        <br>
        <% include static/footer %>
</body>
<% include static/scripts %>
    <script>
        var ethKey = null;
        (async function () {
            ethKey = await window.ethereum.request({ method: 'eth_requestAccounts' })
        })()

        window.ethereum.on('accountsChanged', function (accounts) {
            window.location = "/logout";
        })

        window.ethereum.on('chainChanged', function (chainId) {
            window.location = "/logout";
        })
    </script>
</html>