<!DOCTYPE html>
<html>

<head>
  <% include static/header %>
</head>

<body>
  <% include static/menu %>
    <div class="bgBike container-fluid">
      <img class="img-fluid" src="images/bike-2.jpg" alt="Background">
    </div>
    <% include static/footer %>
</body>
<% include static/scripts %>

</html>