<!DOCTYPE html>
<html>

<head>
    <% include static/header %>
</head>

<body>
    <% include static/menu %>
        <div class="container-fluid">
            <h2 class="hTitle">
                <%= page %>
            </h2>
        </div>
        <% include static/footer %>
</body>
<% include static/scripts %>

</html>