<!DOCTYPE html>
<html>

<head>
    <% include static/header %>
</head>

<body>
    <% include static/menu %>
        <div class="container-fluid">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Register new bike</li>
                </ol>
            </nav>
            <div class="row justify-content-center">
                <div class="col col-auto">
                    <h3 class="h3Title">
                        <%= page %>
                    </h3>
                </div>
            </div>
            <br>
        </div>
        <div class="container">
            <form action="/register-bike" method="post">
                <div class="row">
                    <div class="col col-md-4 offset-md-6">
                        <h5 class="h5Title">Bike details</h5>
                        <div class="form-group">
                            <label class="lblInput" for="inputMake">Make:</label>
                            <input type="text" class="input-style form-control" name="inputMake" id="inputMake"
                                placeholder="Make..." minlength="4" maxlength="20" required>
                        </div>
                        <div class="form-group">
                            <label class="lblInput" for="inputModel">Model:</label>
                            <input type="text" class="input-style form-control" name="inputModel" id="inputModel"
                                placeholder="Model..." minlength="4" maxlength="20" required>
                        </div>
                        <div class="form-group">
                            <label class="lblInput" for="inputFrame">Frame No.:</label>
                            <input type="text" class="input-style form-control" name="inputFrame" id="inputFrame"
                                placeholder="Frame No." minlength="7" maxlength="10" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-md-4 offset-md-6">
                        <h5 class="h5Title">Owner details</h5>
                        <div class="form-group">
                            <label class="lblInput" for="inputName">Name:</label>
                            <input type="text" class="input-style form-control" name="inputName" id="inputName"
                                placeholder="Name..." minlength="2" maxlength="20" required>
                        </div>
                        <div class="form-group">
                            <label class="lblInput" for="inputEmail">Email:</label>
                            <input type="email" class="input-style form-control" name="inputEmail" id="inputEmail"
                                placeholder="Email..." maxlength="50" required>
                        </div>
                        <div class="row justify-content-center">
                            <div class="text-center" style="margin-top: 10px;">
                                <button type="submit" class="btn btn-secondary btn-sm">Send</button>
                                <button type="reset" class="btn btn-warning btn-sm">Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </form>
        </div>
        <br>
        <% include static/footer %>
</body>
<% include static/scripts %>

</html>