<!DOCTYPE html>
<html>

<head>
    <% include static/header %>
</head>

<body>
    <% include static/menu %>
        <div class="container-fluid">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/management"">Management</a></li>
                    <li class=" breadcrumb-item active" aria-current="page">Renounce ownership</li>
                </ol>
            </nav>
            <div class="row justify-content-center">
                <div class="col col-auto">
                    <h3 class="h3Title">
                        <%= page %>
                    </h3>
                </div>
            </div>
            <br>
            <form action="/renounce-ownership" method="post">
                <div class="row justify-content-center">
                    <div class="col-6">
                        <h5 class="h5Title">Bike frame: <%= bike_frame %>
                        </h5>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-6">
                        <div class="form-group">
                            <br>
                            <h5 class="renounce">Do you want to renounce bike with frame: (<%= bike_frame %>)?</h5>
                            <input type="hidden" name="bike_id" value="<%= bike_id %>">
                            <br>
                        </div>
                        <div class="text-center" style="margin-top: 10px;">
                            <button type="submit" class="btn btn-secondary">Renounce</button>
                            <a href="/management" role="button" class="btn btn-warning">Go back</button></a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <br>
        <% include static/footer %>
</body>
<% include static/scripts %>
    <script>
        var ethKey = null;
        (async function () {
            ethKey = await window.ethereum.request({ method: 'eth_requestAccounts' })
        })()

        window.ethereum.on('accountsChanged', function (accounts) {
            window.location = "/logout";
        })

        window.ethereum.on('chainChanged', function (chainId) {
            window.location = "/logout";
        })
    </script>

</html>