<!DOCTYPE html>
<html>

<head>
    <% include static/header %>
</head>

<body>
    <% include static/menu %>
        <div class="container-fluid bg-3 text-center">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Sign-Up</li>
                </ol>
            </nav>
            <div class="row justify-content-center">
                <div class="col col-auto">
                    <h3 class="h3Title">
                        <%= page %>
                    </h3>
                    <% if (error!=null) { %>
                        <div class="error">
                            <%= error %>
                        </div>
                        <% } %>
                </div>
                <br>
                <div class="row justify-content-center">
                    <div class="col col-lg-2 box-details">
                        <form action="/signup" method="post">
                            <div class="form-group">
                                <label class="lblInput" for="inputUsername">Username</label>
                                <input type="text" class="input-form form-control" name="inputUsername"
                                    id="inputUsername" placeholder="Username" minlength="4" maxlength="15" required>
                                <br>
                            </div>
                            <div class="form-group">
                                <label class="lblInput" for="inputPassword">Password</label>
                                <input type="password" class="input-form form-control" name="inputPassword"
                                    id="inputPassword" placeholder="Password" minlength="4" maxlength="15" required>
                                <input type="hidden" name="currentMetaAcc" id="currentMetaAcc">
                            </div>
                            <div class="form-group">
                                <label class="lblInput" for="inputRepeatPassword">Repeat Password</label>
                                <input type="password" class="input-form form-control" name="inputRepeatPassword"
                                    id="inputRepeatPassword" placeholder="Password" minlength="4" maxlength="15"
                                    required>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-secondary btn-sm">Signup</button>
                            <button type="reset" class="btn btn-warning btn-sm">Reset</button>
                        </form>
                    </div>
                </div>
            </div>
            <% include static/footer %>
</body>
<% include static/scripts %>
    <script>
        var ethKey = null;
        (async function () {
            ethKey = await window.ethereum.request({ method: 'eth_requestAccounts' })
            let metaAcc = (await document.getElementById("currentMetaAcc"))
            metaAcc.value = ethKey[0]
        })()
    
        window.ethereum.on('accountsChanged', function (accounts) {
            window.location = "/logout";
        })
    
        window.ethereum.on('chainChanged', function (chainId) {
            window.location = "/logout";
        })
    </script>

</html>