<footer class="footer fixed-bottom bg-dark">
    <div class="d-flex justify-content-center">
        <a class="link-light" href="mailto:x20132484@student.ncirl.ie">
            x20132484@student.ncirl.ie</a>
    </div>
</footer>