<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
    </a>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li id="home"><a class="nav-link px-2 link-secondary" href="/">HOME</a></li>
      <li id="register"><a class="nav-link px-2 link-dark" href="/register">REGISTER BIKE</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          MANAGEMENT
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="/showdetails">Show details</a></li>
          <li><a class="dropdown-item" href="/adddetails">Add details</a></li>
          <li><a class="dropdown-item" href="/transferownership">Transfer ownership</a></li>
          <li><a class="dropdown-item" href="/renounceownership">Renounce ownership</a></li>
        </ul>
      </li>
      <li id="faq"><a class="nav-link px-2 link-dark" href="/FAQ">FAQ</a></li>
      <li id="about"><a class="nav-link px-2 link-dark" href="/contact">CONTACT</a></li>
    </ul>
    <div class="col-md-3 text-end">
      <a href="/login" role="button" class="btn btn-outline-dark">Login</a>
      <a href="/signup" role="button" class="btn btn-outline-secondary">Sign-up</a>
    </div>
  </header>
</div>