<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li id="home"><a class="nav-link px-2 link-secondary" href="/">HOME</a></li>
      <li id="instructions"><a class="nav-link px-2 link-dark" href="/instructions">INSTRUCTIONS</a></li>
      <li id="register"><a class="nav-link px-2 link-dark" href="/register">REGISTER BIKE</a></li>
      <li id="management"><a class="nav-link px-2 link-dark" href="/management">MANAGEMENT</a></li>
      <li id="about"><a class="nav-link px-2 link-dark" href="/about">ABOUT</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <button type="button" class="btn btn-outline-primary me-2">Login</button>
      <button type="button" class="btn btn-primary">Sign-up</button>
    </div>
  </header>
</div>